* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2c45; /* Background color matching the image design */
}

      .container { margin: 60px auto auto; width: 1400px; text-align: center; 

}

.center-image {
    width: 100%; /* Adjust the image size */
    max-width: 600px; /* Maximum width of the image */
    height: auto;
    display: block;
    margin: 0 auto;
}

.linkedin-link {
    position: absolute;
    bottom: 500px; /* Adjust the vertical position of the link */
    left: 2500px; /* Adjust the horizontal position of the link */
    font-size: 1.2rem;
    color: #1d2c45;
    background-color: #e9eef5;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.linkedin-link:hover {
    background-color: #d6e1ed;
}

