* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1d2c45;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #e9eef5;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    position: relative;
}

.content {
    flex: 2;
    padding: 20px;
}

.info p {
    font-size: 1.2rem;
    color: #1d2c45;
    font-weight: bold;
}

.info span {
    color: #707070;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    color: #1d2c45;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    color: #1d2c45;
    line-height: 1.5;
}

.profile-pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #e9eef5;
}

.linkedin-link {
    position: absolute;
    bottom: 30px; /* Adjust this value based on how far you want it to be from the bottom */
    left: 150px; /* Adjust this value to fine-tune the horizontal positioning */
    font-size: 1.2rem;
    color: #1d2c45;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.linkedin-link:hover {
    text-decoration: underline;
}
